<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-thumbnail slot="start" style="height:60px; width: 100%">
      <img src="./assets/icon/aulac-logo.jpg">
    </ion-thumbnail>
    <!-- <ion-title>Checkout</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <coupon></coupon>
  <shopping-cart [cart]="cart$ | async"></shopping-cart>
  <payment-method></payment-method>
</ion-content>
<ion-footer>
  <ion-button *ngIf="totalPrice$ | async as price" expand="full" color="dark" (click)="pay()">
    Pay Now &nbsp; - &nbsp; {{ price | currency }}
  </ion-button>
</ion-footer>