<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/menu"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid no-padding>
    <ion-row>
      <ion-thumbnail style="width: 100%; height: 250px;">
        <img  [src]="loadedCategory?.imageUrl">
      </ion-thumbnail>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of menuItems" [routerLink]="['./', item?.id]">
            <ion-thumbnail slot="start">
              <img src="{{item?.imageUrl}}">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.title }}</h2>
              <p>{{ item.price | currency }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>