<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedItem?.title }}</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="onRecipeDelete()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-thumbnail style="width: 100%; height: 250px;">
        <img [src]="loadedItem?.imageUrl">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-buttons slot="start" style="text-align: center;">
      <ion-fab-button color="primary" size="small" color="secondary" (click)="decrement()">-</ion-fab-button>
      <ion-label>{{ itemCount }}</ion-label>
      <ion-fab-button color="primary" size="small" color="secondary" (click)="increment()">+</ion-fab-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <div *ngIf="ingredients.length > 0">
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            Add
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let ingredient of ingredients">
          <ion-label>
            <h2>Extra {{ ingredient.title }}</h2>
            <p>{{ ingredient.price | currency }}</p>
          </ion-label>
          <ion-checkbox slot="end" [(ngModel)]="ingredient.isChecked" (click)="toggleIngredient(ingredient)">
          </ion-checkbox>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            Remove
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let ingredient of ingredients">
          <ion-label>
            <h2>No {{ ingredient.title }}</h2>
          </ion-label>
          <ion-checkbox slot="end" [(ngModel)]="ingredient.isChecked" (click)="toggleIngredient(ingredient)">
          </ion-checkbox>
        </ion-item>
      </ion-item-group>
    </div>
    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-textarea placeholder='Enter any specific request...'></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="dark" (click)="addToCart()">
    Add to Cart &nbsp; - &nbsp; {{ itemPrice * itemCount | currency }}
  </ion-button>
</ion-footer>